{% extends "base.html" %}
{% block title %}Lịch sử Đơn hàng{% endblock %}

{% block content %}
<h2>Đơn hàng của tôi</h2>
<table class="table table-striped">
  <tbody>
    {% for order in orders %}
    <tr>
      <td>#{{ order.MaHoaDon }}</td>
      <td>{{ order.NgayTao.strftime('%d-%m-%Y %H:%M') }}</td>
      <td>{{ "{:,.0f}".format(order.TongTien) }} VNĐ</td>
      <td>
        {% if order.TrangThaiDonHang == 'pending' %}
          <span class="badge bg-warning text-dark">Chờ xác nhận</span>
        {% elif order.TrangThaiDonHang == 'preparing' %}
          <span class="badge bg-info text-dark">Đang chuẩn bị</span>
        {% elif order.TrangThaiDonHang == 'completed' %}
          <span class="badge bg-success">Hoàn thành</span>
        {% elif order.TrangThaiDonHang == 'canceled' %}
           <span class="badge bg-danger">Đã hủy</span>
        {% else %}
          <span class="badge bg-secondary">{{ order.TrangThaiDonHang }}</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}